
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#side {
    float: left;
}

span {
    display: inline-block;
    background-image: url(images/graycolor.png);
    background-color: #cccccc;
}

.anchor {
    font-family: 'Open+Sans',serif;
}
p {
    font-family: "Times New Roman", Times, serif;
}

section {
    background-image: linear-gradient(pink, yellow);
}