.column {
    float: left;
    width: 33.3333%;
    padding: 0px;
    z-index: 2;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    z-index: -2;
  }

  .image{
      display:block; width:100%; height:auto;
  }

  .section {
      border-style: double;
      border-width: 10px;
      border-color: darkred;
      margin-bottom: 50px;
      margin-top: 50px;
      background-color: rgb(255, 255, 200);
  }

  .minorHeader {
      text-align: center;
      font-size: 20px;
  }

  .subHeader {
      text-align: center;
      outline-style: outset;
      outline-color: #fa4053;
  }

  .memeTable {
    offset: path("M 100");
  }